<header class="masthead">
  <div class="container">
    <a href="/" class="masthead-logo"><i class="icon ion-pizza"></i> Who's Hungry?</a>
    <p class="masthead-tagline">DC Hack for Change</p>
  </div>
</header>